#canvas-wrapper {
  position: absolute;
  display: inline-block;  /* This is the key change */
  z-index: -1; 
  padding: 0;
  margin: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  overflow-y: scroll;
  overflow-x: scroll;
}